---
layout: layout
---
<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Belmont Forum Data Management Tool Kit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Belmont Forum</strong> Data Management Tool Kit</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Data Management Training</a>
						<a href="elements.html">Best Practices & Standards</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
    </header>
		
    {{ content | markdownify }} 
   
    <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Copyright The Belmont Forum e-Infrastructures and Data Management Collaborative Research Action 2017. All Rights Reserved.</a>
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
